---
import { getNotyraDownloadLinks } from "~/lib/flowmarkDownloads";

const { label } = Astro.props;
const links = await getNotyraDownloadLinks();
---

<a href={links.releasePage} class="btn btn-outline-primary">
  {label}
</a>
